body {
  font-family: Arial, sans-serif;
  background-color: #664242;
  text-align: center;
  padding: 20px;
}

#action-btn, #remove-btn {
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
}

#description {
  color: #8d0e0e;
  font-size: 18px;
}
